body {
  margin: 0;
  text-align: center;
}
p {
  color: #828282;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
p span {
  color: #3f3d56;
  font-weight: bold;
}
h1 {
  margin-bottom: 16px;
  font-size: 32px;
  font-family: "Dosis", sans-serif;
}
a {
  font-size: 15px;
  color: #3f3d56;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 35px;
  margin-bottom: 40px;
}
.logo {
  margin-top: 64px;
  margin-bottom: 32px;
}
.title {
  color: #3f3d56;
}
.title span {
  color: #ee24ff;
  font-weight: bold;
}
.paragrafo {
  width: 540px;
  margin: 16px auto;
  line-height: 22px;
}
.pre-footer {
  margin-bottom: 64px;
  margin-top: 21px;
}
.line {
  width: 391px;
  background-color: #eceff2;
}
.wave {
  margin-bottom: 0;
  margin-top: 40px;
}
